:root {
  --color-dark-spring-green: #3b7a57;
  --color-pearl: #f0e5cf;
  --color-cafe-noir: #4a3626;
  --color-seasalt: #f9f9f9;
  --color-jet: #2c2c2c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: var(--color-jet);
  h1,
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: Helvetica, sans-serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  overflow-x: hidden;
  margin: 0;
}

header {
  .logo {
    width: 5rem;
  }
  background-color: var(--color-pearl);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  nav {
    input {
      display: none;
    }
    .nav-toggle {
      display: none;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav-checkbox:checked ~ label.nav-toggle .close {
      display: inline;
    }
    #nav-checkbox:checked ~ .nav-links .nav-menu {
      right: 0;
    }
    #nav-checkbox:checked ~ label.nav-toggle .menu {
      display: none;
    }
    .nav-toggle {
      color: var(--color-dark-spring-green);
      display: flex;
      position: absolute;
      cursor: pointer;
      margin: 0 1.5rem;
      right: 0;
      .close {
        display: none;
      }
    }
    .nav-links {
      margin-top: 0.4rem;
    }
    ul {
      display: flex;
      height: 100vh;
      gap: 1.5rem;
      list-style: none;
      position: fixed;
      right: 0;
      width: 250px;
      flex-direction: column;
      background-color: var(--color-pearl);
      padding: 1rem;
      right: -250px;
      transition: all ease-in-out 500ms;
      a {
        font-weight: 600;
        color: var(--color-dark-spring-green);
        font-size: 1.3rem;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1rem;
      }
    }
  }
}

.hero-section {
  height: 60vh;
  background: url('assets/hero-image.webp') center no-repeat;
  /* background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten; */
  position: relative;
  h1 {
    position: absolute;
    bottom: 60px;
    padding: 1.5rem 3rem 1.5rem 2rem;
    background-color: rgb(240, 229, 207, 0.6);
    color: var(--color-jet);
    border-radius: 0 4px 4px 0;
  }
}

footer {
  height: auto;
  background: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'contact logo socials';
  place-items: center;
  .contact {
    grid-area: 'contact';
    font-size: 0.9rem;
  }
  .logo {
    width: 10rem;
    margin: 0.7rem;
    grid-area: 'logo';
  }
  .socials {
    color: var(--color-dark-spring-green);
    grid-area: 'socials';
    i {
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    nav {
      .logo {
        margin-bottom: 0.5rem;
      }
      width: 80%;
      display: flex;
      margin-right: 1rem;
      .nav-toggle {
        display: none;
      }
      .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        ul {
          height: unset;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: unset;
          transition: unset;
          width: unset;
          background-color: var(--color-pearl);
          padding: 0;
          li {
            a {
              font-size: 1rem;
              &:hover {
                color: var(--color-cafe-noir);
              }
              &::after {
                content: '';
                display: block;
                height: 3px;
                background: var(--color-cafe-noir);
                width: 0%;
                transition: all ease-in-out 300ms;
              }
              &:hover::after {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }
}
