:root {
  --color-dark-spring-green: #3b7a57;
  --color-pearl: #f0e5cf;
  --color-cafe-noir: #4a3626;
  --color-seasalt: #f9f9f9;
  --color-jet: #2c2c2c;
}

* {
  box-sizing: border-box;
}

body {
  h1,
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: Helvetica, sans-serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
  }
  display: flex;
  flex-direction: column;
}
